<h1>Add Review</h1>

<%= form_for(@review) do |f| %>
    <div>
        <label>Movie</label>
        <%= f.collection_select :movie_id, Movie.order(:title),:id,:title, include_blank: true %>
    </div><br>

    <div>
        <%= f.label :rating %>
        <%= f.number_field :rating, step: 0.1 %>
    </div><br>

    <div>
        <%= f.label :watch_date %>
        <%= f.date_field :watch_date %>
    </div><br>

    <div>
        <%= f.label :notes %>
        <%= f.text_area :notes %><br>
    </div><br>

    <%= f.submit %>
<% end %>